@use "../../style/colors" as *;

// 🖥️데스크탑용 (768px 이상)
@media screen and (min-width: 768px) {
  #DesktopNav {
    position: sticky;
    top: 0;

    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    //border-bottom: solid 1px $메인하늘색;

    .nav-logo {
      font-size: 2rem;

      &:hover {
        cursor: default;
      }
    }

    .nav-links {
      display: flex;
      gap: 2rem;
      font-size: 1.5rem;

      .nav-links-item {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: $블랙;

        &:hover {
          color: $메인하늘색;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: $메인하늘색;
        }
      }
    }
  }
  //데스크탑에서는 메뉴만 보이게 , 햄버거는 숨김
  #MobileNav {
    display: none;
  }
}

// 📱모바일용 (481px 이상 ~ 767px 이하)
@media screen and (min-width: 481px) and (max-width: 767px) {
  #MobileNav {
    position: sticky;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 8vh;
    font-size: 1rem;

    //로고
    .nav-logo {
      font-size: 1.5rem;
      font-family: poppins, sans-serif;
    }

    //🍔햄버거 아이콘
    .nav-hamburger {
      &.보임 {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
      &.안보임 {
        display: none;
      }
    }
    //✖️클로즈 아이콘
    .nav-close {
      &.보임 {
        position: relative;
        font-size: 2rem;

        margin-top: 0.5rem;

        &:hover {
          cursor: pointer;
        }
        //링크즈 아이콘
        .nav-links {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          position: absolute;
          top: 4.3rem;
          right: 0.1rem;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
          }
          .nav-links-item {
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            &:hover {
              color: $메인하늘색;
              text-decoration: underline;
              text-underline-offset: 0.1rem;
              text-decoration-color: $메인하늘색;
            }
          }
        }
      }
      &.안보임 {
        display: none;
      }
    }
  }

  #DesktopNav {
    display: none;
  }
}

// 모바일용 (480이하)
@media screen and (max-width: 480px) {
  #MobileNav {
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8vh;
    padding: 0 2.5rem;

    font-size: 1rem;

    //로고
    .nav-logo {
      font-size: 1.5rem;
    }

    //🍔햄버거 아이콘
    .nav-hamburger {
      &.보임 {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
      &.안보임 {
        display: none;
      }
    }
    //✖️클로즈 아이콘
    .nav-close {
      &.보임 {
        position: relative;
        font-size: 2rem;

        margin-top: 0.5rem;

        &:hover {
          cursor: pointer;
        }
        //링크즈 아이콘
        .nav-links {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          position: absolute;
          top: 3.5rem;
          right: 0.1rem;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
          }
          .nav-links-item {
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            &:hover {
              color: $메인하늘색;
              text-decoration: underline;
              text-underline-offset: 0.1rem;
              text-decoration-color: $메인하늘색;
            }
          }
        }
      }
      &.안보임 {
        display: none;
      }
    }
  }

  #DesktopNav {
    display: none;
  }
}
