@use "../../style/colors" as *;

// π–¥οΈλ°μ¤ν¬νƒ‘μ© (768px μ΄μƒ)
@media screen and (min-width: 768px) {
  #DesktopNav {
    position: sticky;
    top: 0;

    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    //border-bottom: solid 1px $λ©”μΈν•λμƒ‰;

    .nav-logo {
      font-size: 2rem;

      &:hover {
        cursor: default;
      }
    }

    .nav-links {
      display: flex;
      gap: 2rem;
      font-size: 1.5rem;

      .nav-links-item {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: $λΈ”λ™;

        &:hover {
          color: $λ©”μΈν•λμƒ‰;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: $λ©”μΈν•λμƒ‰;
        }
      }
    }
  }
  //λ°μ¤ν¬νƒ‘μ—μ„λ” λ©”λ‰΄λ§ λ³΄μ΄κ² , ν–„λ²„κ±°λ” μ¨κΉ€
  #MobileNav {
    display: none;
  }
}

// π“±λ¨λ°”μΌμ© (481px μ΄μƒ ~ 767px μ΄ν•)
@media screen and (min-width: 481px) and (max-width: 767px) {
  #MobileNav {
    position: sticky;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 8vh;
    font-size: 1rem;

    //λ΅κ³ 
    .nav-logo {
      font-size: 1.5rem;
      font-family: poppins, sans-serif;
    }

    //π”ν–„λ²„κ±° μ•„μ΄μ½
    .nav-hamburger {
      &.λ³΄μ„ {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
      &.μ•λ³΄μ„ {
        display: none;
      }
    }
    //β–οΈν΄λ΅μ¦ μ•„μ΄μ½
    .nav-close {
      &.λ³΄μ„ {
        position: relative;
        font-size: 2rem;

        margin-top: 0.5rem;

        &:hover {
          cursor: pointer;
        }
        //λ§ν¬μ¦ μ•„μ΄μ½
        .nav-links {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          position: absolute;
          top: 4.3rem;
          right: 0.1rem;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
          }
          .nav-links-item {
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            &:hover {
              color: $λ©”μΈν•λμƒ‰;
              text-decoration: underline;
              text-underline-offset: 0.1rem;
              text-decoration-color: $λ©”μΈν•λμƒ‰;
            }
          }
        }
      }
      &.μ•λ³΄μ„ {
        display: none;
      }
    }
  }

  #DesktopNav {
    display: none;
  }
}

// λ¨λ°”μΌμ© (480μ΄ν•)
@media screen and (max-width: 480px) {
  #MobileNav {
    position: sticky;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8vh;
    padding: 0 2.5rem;

    font-size: 1rem;

    //λ΅κ³ 
    .nav-logo {
      font-size: 1.5rem;
    }

    //π”ν–„λ²„κ±° μ•„μ΄μ½
    .nav-hamburger {
      &.λ³΄μ„ {
        font-size: 2rem;

        &:hover {
          cursor: pointer;
        }
      }
      &.μ•λ³΄μ„ {
        display: none;
      }
    }
    //β–οΈν΄λ΅μ¦ μ•„μ΄μ½
    .nav-close {
      &.λ³΄μ„ {
        position: relative;
        font-size: 2rem;

        margin-top: 0.5rem;

        &:hover {
          cursor: pointer;
        }
        //λ§ν¬μ¦ μ•„μ΄μ½
        .nav-links {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          position: absolute;
          top: 3.5rem;
          right: 0.1rem;
          font-size: 1rem;

          &:hover {
            cursor: pointer;
          }
          .nav-links-item {
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            &:hover {
              color: $λ©”μΈν•λμƒ‰;
              text-decoration: underline;
              text-underline-offset: 0.1rem;
              text-decoration-color: $λ©”μΈν•λμƒ‰;
            }
          }
        }
      }
      &.μ•λ³΄μ„ {
        display: none;
      }
    }
  }

  #DesktopNav {
    display: none;
  }
}
