// ✅ 데스크탑용 (768px 이상)
@media screen and (min-width: 768px) {
  #DeskTopNavigation {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .nav-logo {
      font-size: 2rem;

      &:hover {
        cursor: default;
      }
    }

    .nav-menu {
      display: flex;
      gap: 2rem;
      font-size: 1.5rem;

      .nav-link {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
        color: black;

        &:hover {
          color: gray;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: red;
        }
      }
    }
  }
  // 햄버거 메뉴는 데스크탑에서는 숨김
  #HamburgerNavigation {
    display: none;
  }
}

// ✅ 모바일용 (768px 이하)
@media screen and (max-width: 767px) {
  #HamburgerNavigation {
    display: block;
    height: 10vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  #DeskTopNavigation {
    display: none;
  }
}

// 거꾸로 읽는것이고 이 코드 보면 반응형의 이해도 편해질것이다
// 그냥 공식으로 min - max -max 방식으로 1024 768 480 으로 쓰면됨
