@import "./style/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", "Pretendard-Regular", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  /*이렇게 해야 이미지를 넣는다고 해도 넘치거나 줄지 않는다.*/
  vertical-align: top;
  /*이미지가 인라인 요소라서 아예 top라인에 맞춰서 불필요 여백 제거 */
}

.flex {
  display: flex;
  justify-content: space-between;
}

.transition {
  transition: all 0.3s ease-in-out;
}
