@import "./style/fonts.scss";
// ✅ 자동 클래스 생성
$directions: row, column;
$justifies: center, space-between, space-around, space-evenly, flex-start,
  flex-end;
$aligns: center, flex-start, flex-end;

@each $dir in $directions {
  @each $just in $justifies {
    @each $align in $aligns {
      .flex_#{$dir}_#{$just}_#{$align} {
        @include flex($dir, $just, $align);
      }
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  //높이는 vh, 가로는 %로 설정 , 스크롤 발생이 생김
  height: 100vh;
  width: 100%;

  font-family: "Poppins", "Pretendard-Regular", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.텍스트가운데 {
  text-align: center;
  align-content: center;
}

img,
video {
  //display: block; // 인라인 요소의 여백 방지
  max-width: 100%; // 부모 너비 초과 방지
  height: auto; // 비율 유지 (세로 길이 자동 조절)
  //object-fit: cover; // 지정된 크기 안에서 잘리지 않고 최적화하여 표시
}

.transition {
  transition: all 0.3s ease-in-out;
}

.fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
